/**
 * @file
 * Form Styling
 */
/* line 9, ../../../../sass/forms.scss */
.error-message {
  border: 1px dashed #e00;
  background-color: #fee;
  padding: 5px;
}

/* line 15, ../../../../sass/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
/* line 20, ../../../../sass/forms.scss */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
/* line 24, ../../../../sass/forms.scss */
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
}
/* line 29, ../../../../sass/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 34, ../../../../sass/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #c00;
}
/* line 38, ../../../../sass/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}
/* line 43, ../../../../sass/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}

/* line 49, ../../../../sass/forms.scss */
#survey .section.hidden {
  display: none;
}

/* line 55, ../../../../sass/forms.scss */
.survey-question-list li.survey-question {
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
/* line 59, ../../../../sass/forms.scss */
.survey-question-list li.survey-question .question {
  margin-bottom: 0.8em;
  padding: 1px;
  padding-left: 5px;
}
/* line 64, ../../../../sass/forms.scss */
.survey-question-list li.survey-question .answer {
  font-size: 0.8333em;
}
/* line 67, ../../../../sass/forms.scss */
.survey-question-list li.survey-question .notes {
  font-size: 0.8333em;
}
/* line 71, ../../../../sass/forms.scss */
.survey-question-list .notes {
  color: #555;
}
/* line 75, ../../../../sass/forms.scss */
.survey-question-list ul.answer li {
  list-style: none;
}
/* line 80, ../../../../sass/forms.scss */
.survey-question-list .answer input[type="radio"] {
  vertical-align: -0.1em;
  margin-right: 0.5em;
}
/* line 84, ../../../../sass/forms.scss */
.survey-question-list .answer input[type="text"] {
  border: 1px transparent solid;
  padding: 2px;
}
/* line 88, ../../../../sass/forms.scss */
.survey-question-list .answer input[type="text"]:focus {
  border: 1px #ccc dashed;
}
/* line 91, ../../../../sass/forms.scss */
.survey-question-list .answer input[type="text"] {
  border-bottom: 1px #555 solid !important;
}
/* line 95, ../../../../sass/forms.scss */
.survey-question-list .answer ol.single-choice-list li {
  list-style: upper-alpha;
}
/* line 101, ../../../../sass/forms.scss */
.survey-question-list .survey-sub-question-list li.survey-question {
  list-style: lower-roman;
}
/* line 106, ../../../../sass/forms.scss */
.survey-question-list .survey-question.dependant .question {
  background: transparent url(../../images/info_16.png) no-repeat 99% center;
}
/* line 112, ../../../../sass/forms.scss */
.survey-question-list .survey-question.error .question {
  padding: 0px;
  padding-left: 4px;
  padding-right: 1em;
  border: 1px dashed #c00;
  background-color: #feffdd;
  background: #feffdd url(../../images/error_16.png) no-repeat 99% center;
}
/* line 121, ../../../../sass/forms.scss */
.survey-question-list .magnitude-radio-slider {
  margin-right: 1.8em;
  margin-left: 0.3em;
}
/* line 126, ../../../../sass/forms.scss */
.survey-question-list .conditional {
  -webkit-transition: all 1s ease;
  -webkit-transition-delay: 0.1s;
  -moz-transition: all 1s ease 0.1s;
  -o-transition: all 1s ease 0.1s;
  transition: all 1s ease 0.1s;
  opacity: 1;
  overflow: hidden;
}
/* line 132, ../../../../sass/forms.scss */
.survey-question-list .conditional.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0px !important;
}

/* line 138, ../../../../sass/forms.scss */
#survey-sidebar {
  padding-top: 1em;
}

/* line 141, ../../../../sass/forms.scss */
.survey #content {
  -webkit-box-shadow: inset 5px 0px 5px -5px #1c294b;
  -moz-box-shadow: inset 5px 0px 5px -5px #1c294b;
  box-shadow: inset 5px 0px 5px -5px #1c294b;
}

/* line 144, ../../../../sass/forms.scss */
.survey #header {
  -webkit-box-shadow: 0px 5px 5px -5px #1c294b;
  -moz-box-shadow: 0px 5px 5px -5px #1c294b;
  box-shadow: 0px 5px 5px -5px #1c294b;
}

/* line 149, ../../../../sass/forms.scss */
.ie6 #survey-controls,
.ie7 #survey-controls {
  padding-right: 1px;
  background-color: #19398c;
}

/* line 155, ../../../../sass/forms.scss */
#survey-controls {
  overflow: hidden;
}
/* line 158, ../../../../sass/forms.scss */
#survey-controls .section-controls {
  overflow: hidden;
}
/* line 160, ../../../../sass/forms.scss */
#survey-controls .section-controls .nav-btn {
  float: left;
  width: 33.333%;
  height: 50px;
  margin: 0;
}
/* line 167, ../../../../sass/forms.scss */
#survey-controls .section-controls .btn-check {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 171, ../../../../sass/forms.scss */
#survey-controls .section-controls .btn-prev {
  background-image: url(../../images/left_32.png);
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
}
/* line 179, ../../../../sass/forms.scss */
#survey-controls .section-controls .btn-next {
  float: right;
  background-image: url(../../images/right_32.png);
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  -o-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;
}
/* line 188, ../../../../sass/forms.scss */
#survey-controls .submit-btn {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  margin: 0;
  width: 100%;
  height: 3em;
  font-weight: bold;
}

/* line 197, ../../../../sass/forms.scss */
#survey-sections-display {
  margin-top: 1.5em;
}
/* line 198, ../../../../sass/forms.scss */
#survey-sections-display.hidden {
  display: none;
}
/* line 202, ../../../../sass/forms.scss */
#survey-sections-display h3 {
  border: none;
  background-color: #19398c;
  color: white;
  padding: 10px;
  line-height: 1.5em;
  margin: 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 211, ../../../../sass/forms.scss */
#survey-sections-display ul.sections {
  max-height: 200px;
  overflow: auto;
  margin: 0;
  padding: 0;
}
/* line 216, ../../../../sass/forms.scss */
#survey-sections-display ul.sections li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 221, ../../../../sass/forms.scss */
#survey-sections-display ul.sections button {
  width: 100%;
  margin: 0;
  text-align: left;
  padding-left: 1.5em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 229, ../../../../sass/forms.scss */
#survey-sections-display ul.sections button.passed, #survey-sections-display ul.sections button.error {
  background-repeat: no-repeat;
  background-position: 90% center;
}
/* line 233, ../../../../sass/forms.scss */
#survey-sections-display ul.sections button.passed {
  background-image: url(../../images/tick_16.png);
}
/* line 236, ../../../../sass/forms.scss */
#survey-sections-display ul.sections button.error {
  background-image: url(../../images/exclm_mark_16.png);
}
/* line 241, ../../../../sass/forms.scss */
#survey-sections-display div.bottom {
  background-color: #19398c;
  width: 100%;
  height: 20px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

/* line 249, ../../../../sass/forms.scss */
#survey-progress-display {
  margin-top: 1em;
}
/* line 251, ../../../../sass/forms.scss */
#survey-progress-display .progressbar {
  height: 1em;
}
/* line 254, ../../../../sass/forms.scss */
#survey-progress-display .progress-label {
  text-align: center;
  color: #555;
  font-size: 0.8em;
}

/* line 261, ../../../../sass/forms.scss */
.form-submit {
  /* The submit button */
}

/* line 266, ../../../../sass/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

/* line 271, ../../../../sass/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 274, ../../../../sass/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* line 283, ../../../../sass/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 291, ../../../../sass/forms.scss */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
/* line 298, ../../../../sass/forms.scss */
#user-login-form {
  text-align: left;
  /* LTR */
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 308, ../../../../sass/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 313, ../../../../sass/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* LTR */
  /* Un-do some of the padding on the ul list. */
}
/* line 318, ../../../../sass/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

/* line 323, ../../../../sass/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 335, ../../../../sass/forms.scss */
form th {
  text-align: left;
  /* LTR */
  padding-right: 1em;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
/* line 341, ../../../../sass/forms.scss */
form tbody {
  border-top: 1px solid #ccc;
}
/* line 345, ../../../../sass/forms.scss */
form tr.even {
  background-color: #fff;
}
/* line 349, ../../../../sass/forms.scss */
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 368, ../../../../sass/forms.scss */
td.menu-disabled {
  background: #ccc;
}
