/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 17, ../../../../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

/* line 26, ../../../../sass/pages.scss */
.region-wrap {
  padding: 10px;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 35, ../../../../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 39, ../../../../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 53, ../../../../sass/pages.scss */
#header {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px dotted #ccc !important;
}

/* line 63, ../../../../sass/pages.scss */
#logo {
  /* Wrapping link for logo */
  float: right;
  /* LTR */
  margin: 0;
  padding: 0;
}
/* line 68, ../../../../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 73, ../../../../sass/pages.scss */
#name-and-slogan {
  /* Wrapper for website name and slogan */
  float: left;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
  padding-top: 1px;
}
/* line 77, ../../../../sass/pages.scss */
#name-and-slogan h1, #name-and-slogan h3 {
  color: #0c1481;
  border: none;
}

/* line 83, ../../../../sass/pages.scss */
#site-name {
  /* The name of the website */
  margin: 0;
  font-size: 2.5em;
  line-height: 1.5em;
}
/* line 89, ../../../../sass/pages.scss */
#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}
/* line 95, ../../../../sass/pages.scss */
#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

/* line 100, ../../../../sass/pages.scss */
#site-slogan {
  /* The slogan (or tagline) of a website */
  margin: 0;
  font-size: 1em;
}

/* line 105, ../../../../sass/pages.scss */
.region-header {
  /* Wrapper for any blocks placed in the header region */
  clear: both;
  /* Clear the logo */
}

/*
 * Main (container for everything else)
 */
/* line 113, ../../../../sass/pages.scss */
#main {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px;
  -moz-box-shadow: 0px 0px 5px 0px;
  box-shadow: 0px 0px 5px 0px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

/*
 * Content
 */
/* line 123, ../../../../sass/pages.scss */
#content {
  padding-bottom: 1em;
  min-height: 400px;
}

/* line 131, ../../../../sass/pages.scss */
.breadcrumb {
  /* The path to the current page in the form of a list of links */
}
/* line 132, ../../../../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 136, ../../../../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 149, ../../../../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  /* Comment title */
  margin: 0;
}

/* line 153, ../../../../sass/pages.scss */
tr.even {
  /* Some tables have rows marked even or odd. */
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 157, ../../../../sass/pages.scss */
tr.odd {
  /* background-color: #eee; */
  /* Drupal core uses a #eee background */
}

/* line 161, ../../../../sass/pages.scss */
div.messages {
  /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */
  margin: 1.5em 0;
  /* Drupal core uses "6px 0" margin */
}
/* line 164, ../../../../sass/pages.scss */
div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 170, ../../../../sass/pages.scss */
div.status {
  /* Normal priority messages */
}

/* line 174, ../../../../sass/pages.scss */
div.warning,
tr.warning {
  /* Medium priority messages */
  /* border: 1px solid #f0c020; */
  /* Drupal core uses: 1px solid #f0c020 */
}

/* line 179, ../../../../sass/pages.scss */
div.error,
tr.error {
  /* High priority messages. See also the .error declaration below. */
}

/* line 182, ../../../../sass/pages.scss */
.error {
  /* Errors that are separate from div.messages status messages. */
  /* color: #e55; */
  /* Drupal core uses a #e55 background */
}

/* line 186, ../../../../sass/pages.scss */
.warning {
  /* Warnings that are separate from div.messages status messages. */
  /* color: #e09010; */
  /* Drupal core uses a #e09010 background */
}

/* line 190, ../../../../sass/pages.scss */
.tabs {
  /* See also the tabs.css file. */
}

/* line 193, ../../../../sass/pages.scss */
.region-help {
  /* Help text on a page */
}

/* line 196, ../../../../sass/pages.scss */
.more-help-link {
  /* Link to more help */
}

/* line 199, ../../../../sass/pages.scss */
.region-content {
  /* Wrapper for the actual page content */
}

/* line 202, ../../../../sass/pages.scss */
ul.inline {
  /* List of links generated by theme_links() */
  display: inline;
  padding: 0;
}
/* line 206, ../../../../sass/pages.scss */
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 212, ../../../../sass/pages.scss */
span.field-label {
  /* The inline field label used by the Fences module */
  padding: 0 1em 0 0;
  /* LTR */
}

/* line 216, ../../../../sass/pages.scss */
.item-list .pager {
  /* A list of page numbers when more than 1 page of content is available */
  padding: 0;
}
/* line 219, ../../../../sass/pages.scss */
.item-list .pager li {
  /* Each page number in the pager list */
  padding: 0 0.5em;
}

/* line 224, ../../../../sass/pages.scss */
.feed-icon {
  /* The link to the RSS or Atom feed for the current list of content */
}

/* line 227, ../../../../sass/pages.scss */
.more-link {
  /* Aggregator, blog, and forum more link */
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
/*
 * Footer
 */
/* line 254, ../../../../sass/pages.scss */
#footer {
  margin-top: 0.5em;
  font-size: 0.8em;
  text-align: center;
}

/*
 * Page bottom
 */
/* line 264, ../../../../sass/pages.scss */
.region-bottom {
  /* Wrapper for any blocks placed in the page bottom region */
}
