<!doctype html>
<!-- https://github.com/paulirish/html5-boilerplate/blob/master/index.html -->
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	{% block starthead %}{% endblock starthead %}
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="">
	<title>{% block title %}UM-SJTU Joint Institute Survey{% endblock title %}</title>
	<meta name="description" content="{% block description %}{% endblock %}">
	<meta name="author" content="{% block author %}{% endblock %}">

	<meta name="viewport" content="">

	{% block favicons -%}
	{# Place favicon.ico & apple-touch-icon.png
	    in the root of your domain and delete these references #}
	<link rel="shortcut icon" href="{% static "ji_survey/images/favicon.ico" %}">
	<link rel="apple-touch-icon" href="{% static "ji_survey/images/apple-touch-icon.png" %}">
	{% endblock favicons -%}

	{% block css -%}
	<link rel="stylesheet" href="{% static "ji_survey/css/site.css" %}">
	<link rel="stylesheet" href="{% static "ji_survey/css/syntax.css" %}">
	{% endblock css -%}
	<!--[if lt IE 9]>
	<script src="{% static "ji_survey/js/libs/modernizr-1.7.min.js" %}"></script>
	<![endif]-->
	{% block headjs -%}
	{% endblock headjs -%}
	{% block endhead %}{% endblock endhead %}
</head>
<body class="{% block body_classes %}{% endblock %}">
	{% block page -%}
	<div id="page">
		{% block container %}
		{% block before_main %}
		{% endblock before_main %}
		<div id="main" role="main">
			<header id="header" class="banner clearfix">
				<div id="logo">
					<img src="{% static "ji_survey/images/logo.png" %}" alt="">
				</div>
				{% block header -%}
				<div id="name-and-slogan">
					<h1 id="site-name">
						UM-SJTU Joint Institute Survey
					</h1>
					<h3 id="site-slogan">
						
					</h3>
				</div>
				{%- endblock %}

				{% block nav %}
				{#% from "ji_survey/macros/menu.j2" import render_nav with context %}
				<div id="navigation">
					{{ render_nav(site.config.menu, None, 'main-menu') }}
				</div>
				#}
				{% endblock %}
			</header>
			<div id="content-wrap-outer">
				{% block before_content %}{% endblock %}
				<section id="content" class="content">
					{% block content_wrap %}
						<div id="content-wrap" class="region-wrap">
							{% block content %}
							{% endblock content %}
						</div>
					{% endblock content_wrap %}
				</section>
				{% block sidebar_first %}
				{% endblock sidebar_first %}
				{% block sidebar_second %}
				{% endblock sidebar_second %}
			</div>
			{% block after_content %}{% endblock %}
			{# IE7 Overflow Fix #}
			<div style="clear: both"></div>
		</div>
		{% block after_main %}
		{% endblock after_main %}
		<footer id="footer">
			{% block footer -%}
			<div id="footer-wrap">
				Site designed by Zhao Yichen. Contact me at <a href="mailto:interarticle@gmail.com">interarticle@gmail.com</a>
				<div id="copyright">Copyright &copy; Zhao Yichen, and respective survey designers.</div>
			</div>
			{%- endblock footer %}
		</footer>
		{% endblock container %}
	</div><!--/page-->
	{% endblock page -%}
	{% block js -%}
	<!-- Javascript at the bottom for fast page loading -->
	{%- block jquery -%}
	<script type="text/javascript" language="javascript" src="{% static "ji_survey/js/libs/jquery-1.9.1.min.js" %}"></script>
	{% endblock jquery -%}

	{% block scripts -%}
	<script type="text/javascript" language="javascript" src="{% static 'ji_survey/js/libs/hide-button.js' %}"></script>
	<script type="text/javascript" language="javascript">
	$(".hide-button").hideButton();
	$.hideElements();
	</script>
	{% endblock scripts -%}


	<!--[if lt IE 7 ]>
	<script src="{% static 'ji_survey/js/libs/dd_belatedpng.js' %}"></script>
	<script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
	<![endif]-->
	{% block analytics -%}
	{% include "ji_survey/macros/analytics.j2" %}
	{% endblock analytics -%}

	{% endblock js %}
</body>
</html>