{% extends "ji_survey/layout/base.j2" %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="{% static "ji_survey/css/jquery-ui/base/jquery-ui.min.css" %}">
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{% static "ji_survey/js/libs/jquery-ui-1.10.3.custom.min.js" %}"></script>
<script type="text/javascript" src="{% static "ji_survey/js/survey.js" %}"></script>
{% endblock %}
{% block body_classes -%}
{{ super() }} sidebar-first survey
{%- endblock %}
{% block title -%}
{{ super() }} - {{ self.survey_name() }}
{%- endblock %}
{% block before_main %}
<form action="{{ url('views.survey_upload') }}" method="post" data-validation="required" data-dependant-message="After you complete this question, you may be asked to fill out further information" name="survey" id="survey-form">
<span data-omit="1">
	{% csrf_token %}
</span>
{% endblock %}
{% block content %}
	<h1>{% block survey_name %}Survey{% endblock %}</h1>
	<noscript>
		<div class="error-message">
			<div>
				<em>Error!</em>
			</div>
			<div>
				Unfortunately, this survey cannot be done without JavaScript support on your browser. Please enable JavaScript and try again.
			</div>
		</div>
		<style type="text/css">
			#survey {
				display: none !important;
			}
		</style>
	</noscript>
	<section id="survey">
		{% block survey %}
		{% endblock %}
	</section>
{% endblock content %}
{% block sidebar_first %}
<div id="survey-sidebar" class="region-sidebar-first content-main">
	<div class="region-wrap">
		<div id="survey-controls" data-omit="1">
			<div class="section-controls">
				<button class="btn-prev nav-btn" title="Previous Section">&lt;</button>
				<button id="survey-check-button" class="btn-check nav-btn" title="Check">
					<img src="{% static "ji_survey/images/check_32.png" %}" alt="Check" title="Check">
				</button>
				<button class="btn-next nav-btn" title="Next Section">&gt;</button>
			</div>
			<div class="submit">
				<input id="survey-submit-button" type="submit" value="Submit" title="Submit" class="form-submit submit-btn">
			</div>
		</div>
		<div id="survey-sections-display" class="hidden">
			<h3>Sections</h3>
			<ul class="sections">
				
			</ul>
			<div class="bottom"></div>
		</div>
		<div id="survey-progress-display">
			<div class="progressbar"></div>
			<div class="progress-label"></div>
		</div>
	</div>
</div>
{% endblock %}
{% block after_main %}
</form>
{% endblock %}