{% extends "ji_survey/layout/base.j2" %}

{% block content %}
<h1>About</h1>
This sites is only accessible via purpose built survey links. Please consult the surveyers to obtain the link to the actual survey.
{% endblock content %}